.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.collapse{
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86.11%;
}

.collapseLeft{
    width: 47%;
}

.collapseRight{
    width: 47%;
}