.titleContainer{
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #FF6060;
    border-radius: 5px;
    box-sizing: border-box;
}


.titleContainer:hover, .active .titleContainer{
    cursor: pointer;
    filter: brightness(90%);
  
}

.title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}

.active .icon{
    transform: rotate(180deg);
}

.content{
    visibility: hidden;
    position: absolute;
    top: -20px;
    padding: 40px 12px 53px 20px;
    background-color: #F7F7F7;
    border-radius: 0 0 5px 5px;
    color: #FF6060;
    font-family: 'montserrat';
    font: 18px;
    height: 0px;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
}

.active .content{
    z-index: -1;
    position: relative;
    visibility:visible;
    height: fit-content;
    background-color: #F7F7F7;
    border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 376px) {
    .active .content{
        margin: 0;
    }
    
    
  }