.container{
    width: 86.11%;
}

.active .container{
}

.titleContainer{
    width: 100%;
    margin: 31px 0 0 0;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #FF6060;
    border-radius: 5px;
    box-sizing: border-box;
}


.titleContainer:hover, .active .titleContainer{
    cursor: pointer;
    filter: brightness(90%);
}

.title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.active .icon{
    transform: rotate(180deg);
}

.content{
    visibility: hidden;
    z-index: -1;
    position: relative;
    top: -20px;
    padding: 20px 0 0 0 ;
    margin: 0;
    background-color: #F7F7F7;
    border-radius: 0 0 5px 5px;
    height: 0px;
}

.active .content{
    visibility:visible;
    z-index: -1;
    position: relative;
    top: -20px;
    padding: 30px 0 30px 0 ;
    width: 100%;
    height: fit-content;
    background-color: #F7F7F7;
    border-radius: 0 0 5px 5px;
}