.container{
    width: 86.11%;
}

.title{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    text-align: left;
    margin: 0;
}

.text{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    text-align: left;
    margin: 0;
}

.owner{

}

.picture{
    height: 64px;
    width:64px;
    border-radius: 45px;
}

.tag{
    width: 10%;
    min-height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 0;
    background-color: #FF6060;
    border-radius: 10px;
}

.tags{
    display: flex;
    flex-direction: row;
    width: 86.11%;
    gap:10px;
    margin: 20px 0 0 0;
}