.kasaLogo{
    padding: 40px 0 0 100px;
    width: 14.58%;
    max-height: 68px;
}

@media screen and (max-width: 376px) {
    .kasaLogo{
        padding: 20px 0 0 20px;
        width: 38.67%;
    }
    
  }