.navBar {
    padding : 57px 100px 0 0 ;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;  
}
