.navBar {
    display: flex;
    padding : 57px 6.94% 0 0 ; 
}

.navBar ul{
    list-style: none;
    display: flex;
}

.navLink{
    color: #FF6060;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right; 
    text-decoration: none;
    width: 136px;
}

.navLink:hover{
    text-decoration: underline;
}

@media screen and (min-width: 376px) and (max-width: 1026px) {
    .navBar{
        padding: 28px 5.33% 0 0;
    }
    .navBar ul{
       padding-left: 0;
    }
    .navLink{
        font-size: 1rem;
        text-transform: uppercase;
        width:100px;
        text-align: center;
    }
  }

@media screen and (min-width: 296px) and (max-width: 376px) {
    .navBar{
        padding: 28px 5.33% 0 0;
    }
    .navBar ul{
       padding-left: 0;
    }
    .navLink{
        font-size: 0.75rem;
        text-transform: uppercase;
        width:75px;
        text-align: center;
    }
  }

  @media screen and (max-width: 296px) {
    .navBar{
        padding: 5px 0 0 0;
        height: 30px;
    }
    .navBar ul{
       padding-left: 0;
    }
    .navLink{
        font-size: 0.75rem;
        text-transform: uppercase;
        width:100px;
        text-align: center;
    }
 }

