.navBar {
    display: flex;
    padding : 57px 100px 0 0 ; 
}

.navBar ul{
    list-style: none;
    display: flex;
}

.navLink{
    color: #FF6060;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right; 
    text-decoration: none;
    width: 136px;
}

.navLink:hover{
    text-decoration: underline;
}

@media screen and (max-width: 376px) {
    .navBar{
        padding: 38px 20px 0 0;

    }

    .navBar ul{
       padding-left: 0;
    }

    .navLink{
        font-size: 0.75rem;
        text-transform: uppercase;
        width:80px;
        text-align: center;
    
    }
  }
