.rating{
    display: inline-flex;
    justify-content: flex-end;
    margin: 24px 0 0 0 ;
}

@media screen and (max-width: 376px) {
    .rating{
        margin: 0;
        align-items: center;
    }
    .star{
       width: 15px; 
    }
}