.rating{
    display: inline-flex;
    justify-content: flex-end;
    margin: 24px 0 0 0 ;
}

@media screen and (min-width: 376px) and (max-width: 1026px) {
    .rating{
        margin: 0;
    }
    .star{
       width: 20px; 
    }
}


@media screen and (max-width: 376px) {
    .rating{
        margin: 0;
    }
    .star{
       width: 15px; 
    }
}