.tag{
    width: 13.28%;
    min-width: 115px;
    min-height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 0;
    background-color: #FF6060;
    border-radius: 10px;
}

.tags{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:10px;
    margin: 23px 0 0 0;
}

@media screen and (max-width: 376px) {
    .tags{
    margin: 12px 0 0 0;
    flex-wrap: wrap;
    }
    .tag{
        width: 22.4%;
        min-width: 85px;
        min-height: 18px;
        font-size: 0.625rem;
    }
}